<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316517793078-17e2s3p7rhg0a3qomadidl9vcd55d91s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316517793078-17e2s3p7rhg0a3qomadidl9vcd55d91s</string>
	<key>API_KEY</key>
	<string>AIzaSyC8LnbB0H0LF_mD1NnEgNOxeNQsfJpMMNg</string>
	<key>GCM_SENDER_ID</key>
	<string>316517793078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.wonkytech.wtConsoleDesigner</string>
	<key>PROJECT_ID</key>
	<string>wt-console-designer</string>
	<key>STORAGE_BUCKET</key>
	<string>wt-console-designer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316517793078:ios:95c3c616afdcbaec9a0797</string>
	<key>DATABASE_URL</key>
	<string>https://wt-console-designer-default-rtdb.firebaseio.com</string>
</dict>
</plist>